<a href="https://colab.research.google.com/github/emanbuc/ultrasonic-vision/blob/main/remove_outlier.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Remove Outlier form dataset (Colab)

## Load Data from CSV File

In [1]:
import matplotlib.pyplot as plt
import pandas
url = "https://raw.githubusercontent.com/emanbuc/ultrasonic-vision/main/sample_acquisitions/7sensors/20210102/20210102_alldata.csv"

names = ['HCSR04_001', 'HCSR04_002', 'HCSR04_003', 'HCSR04_004', 'HCSR04_005', 'HCSR04_006', 'HCSR04_007','ObjectClass']
data = pandas.read_csv(url, usecols=names)
print(data)

     HCSR04_001  HCSR04_002  HCSR04_003  ...  HCSR04_006  HCSR04_007     ObjectClass
0         53.25       54.19       56.01  ...       51.90       23.33     EMPTY_SEVEN
1         53.21       54.23       55.98  ...       51.39      117.41     EMPTY_SEVEN
2         53.16       54.62       56.41  ...       51.91      109.82     EMPTY_SEVEN
3         53.18       54.64       56.03  ...       51.44      104.63     EMPTY_SEVEN
4         53.31       54.58       56.39  ...       51.40      105.24     EMPTY_SEVEN
..          ...         ...         ...  ...         ...         ...             ...
496       40.35       19.25       38.56  ...       57.15      119.41  SQUARE_MILK_90
497       40.43       19.68       38.56  ...       57.93      112.06  SQUARE_MILK_90
498       40.34       19.70       38.49  ...       57.62      111.50  SQUARE_MILK_90
499       40.42       19.70       38.51  ...       57.91      111.54  SQUARE_MILK_90
500       40.30       19.31       38.57  ...       57.53      110.89  SQUARE_MILK_90

[501 rows x 8 columns]

In [2]:
data_grouped= data.groupby(['ObjectClass'])
data_grouped.first()

                      HCSR04_001  HCSR04_002  ...  HCSR04_006  HCSR04_007
ObjectClass                                   ...
BALL_CENTER                55.59       16.09  ...       57.48       96.38
BEAN_CAN                   52.81       15.54  ...     2115.51      109.24
BEER_BOTTLE                18.98       18.62  ...      119.22      111.96
EMPTY_SEVEN                53.25       54.19  ...       51.90       23.33
GLASS                      53.25       18.50  ...     2114.98      104.41
RECTANGULAR_BOX            48.56       50.96  ...       25.80       96.35
RECTANGULAR_BOX_SIDE       10.36        4.26  ...       23.99      122.23
SOAP_BOTTLE_FRONT          16.99       15.77  ...     2115.85      111.68
SOAP_BOTTLE_SIDE           19.46       53.24  ...     2114.00      107.46
SQUARE_MILK_45             17.14       16.53  ...       53.84      106.16
SQUARE_MILK_90             38.21       37.10  ...      107.64       52.36
WALL_BALL                  53.80       49.55  ...       53.06      105.94

[12 rows x 7 columns]

## Remove Outlier
  Find and remove outlier using IQR method

In [ ]:
df_all_clean = pandas.DataFrame(columns = names) 
for name, group in data.groupby(['ObjectClass']):
    # print the name of the regiment
    print(name)
    # print the data of that regiment
    Q1 = group.quantile(0.25)
    Q3 = group.quantile(0.75)
    IQR = Q3 - Q1

    data_clean = group[~((group < (Q1 - 1.5 * IQR)) |(group > (Q3 + 1.5 * IQR))).any(axis=1)]
    df_all_clean = pandas.concat([df_all_clean,data_clean])

In [ ]:
from google.colab import files
filename='20210102_alldata_outlier_removed.cvs'
df_all_clean.to_csv(filename,sep=',')
files.download(filename)